.infinity-books-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 5px;
  padding: 5px;
  margin: 0 0 10px 0;
}
.loader-wrp {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}
