.exchange-wrp {
  height: 490px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.exchange-header {
  font-size: 40px;
  margin: 10px 0 0 0;
}
.loader-wrp {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}
